* {
  box-sizing: border-box;
  font-family: 'Finlandica', sans-serif;
}

body {
  margin: 0;
  background: black;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: hidden;
}

.blocker{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background-color: black;
  opacity: 0;
  display: none;
  transition: opacity 0.5s;
}

.actualbg{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background-image: linear-gradient(rgb(255, 63, 5),rgb(0, 84, 173));
  opacity: 0;
  z-index: -1;
  background-size: cover;
  background-attachment: fixed;
}

.fullwidth{
  width: 100%;
  text-align: center;
}

.midblock{
  width: 60%;
  margin-left: 20%;
  float: left;
}

.leftblock{
  width: 20%;
  float: left;
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.25),rgba(0,0,0,0));
  opacity: 0;
  transition: opacity 0.25s;
}

.edbutton{
  color: white;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  position: fixed;
  right: 5px;
  top: 5px;
  background-image: url(pencil.png);
  background-size: 100%;
}

.choosebg{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0,0,0,0.5);
  display: none;
  z-index: 100;
  overflow-y: scroll;
}

.blue{
  border: 4px solid rgb(0, 128, 255);
}

.green{
  border: 4px solid rgb(20, 236, 4);
}

.orange{
  border: 4px solid rgb(255, 111, 0);
}

.tile{
  width: 15%;
  height: 125px;
  border: 4px solid rgb(11, 23, 139);
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  transition: width 0.5s, margin-left 0.5s, margin-right 0.5s, border 0.5s;
  margin-left: 8%;
  margin-right: 0%;
  margin-top: 1.5%;
  margin-bottom: 0px;
  float: left;
}

.tile:hover{
  /* background:rgb(0, 0, 0);*/
  border: 0px solid rgb(11, 23, 139);
  width: 19%;
  margin-left: 6%;
  margin-right: -2%;
}

input.middle:focus {
  outline-width: 0;
  outline: none;
}

.sitetile{
  height: 75px;
  border: 3px solid black;
  cursor: pointer;
  margin-bottom: 25px;

  transition: border 0.2s, background-color 0.2s, color 0.2s;
}

.sitetile:hover{
  border: 3px solid rgb(184, 184, 184);
  background: rgba(0,0,0,0.3);
}

.sitename{
  color: rgb(215, 231, 250);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.leftblock:hover{
  opacity: 1;
}

.nicegrad {
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.datetime{
  font-size: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  margin: 0px;
  z-index: -1;
}

.smallweather{
  font-size: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(189, 189, 189);
  margin: 0px;
  margin-top: 50px;
}

.taskname{
  margin-top: 0px;
  background: rgba(0,0,0,0);
  color: black;
  border: 0px solid black;
  width: 50%;
  font-size: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  border-bottom: 3px solid darkslategray;
  margin-top: -8px;
}

.taskdate{
  margin-top: 0px;
  background: rgba(0,0,0,0);
  color: black;
  border: 0px solid black;
  width: 20%;
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  border-bottom: 3px solid darkslateblue;
  margin-top: -8px;
}

.delete{
  margin-top: 0px;
  background: orangered;
  color: black;
  border: 9px solid orangered;
  border-radius: 10px;
  width: 25%;
  font-size: 15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  float: right;
}

.order{
  margin-top: 0px;
  background: rgb(111, 159, 27);
  color: black;
  border: 9px solid rgb(111, 159, 27);
  border-radius: 10px;
  width: 25%;
  font-size: 15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  float: right;
  margin-right: 5%;
}

.todo{
  margin-top: 66px;
  background: rgba(175,175,175, 0.2);
  color: rgb(151, 151, 151);
  border: 0px solid black;
  width: 90%;
  height: 120px;
  margin-left: 5%;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.todo::-webkit-scrollbar {
  display: none;
}

.tdtile{
  width: 90%;
  margin-left: 5%;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 35px;
  color: black;
  background: rgba(210,210,210, 0.6);
}


.tdtile-main{
  width: 90%;
  margin-left: 5%;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 50px;
  color: black;
  background: rgba(210,210,210, 0.8);
  transition: background-color 0.2s;
  overflow-y: hidden;
}

.addnew{
  width: 5%;
  margin-left: 47.5%;
  border-radius: 5px;
  height: 50px;
  color: black;
  text-align: center;
  font-size: 50px;
  background: rgba(210,210,210, 0.8);
  transition: background-color 0.2s;
}

.tdtile-main:hover{
  background: rgba(210,210,210, 1);
}


.lefts{
  width: 50%;
  text-align: left;
  padding: 8px;
  color: black;
  font-weight: bolder; 
  float: left;
}

.due{
  width: 49%;
  text-align: right;
  padding: 8px;
  color: black;
  float: left;
}

.taskheader{
  text-align: center;
  font-size: 42px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
nav {
  position: sticky;
}

.nav-items {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-items li {
  display: inline-block;
  color: white;
}

.nav-items li a {
  display: block;
  padding: 1rem;
  color: white;
}
